let g:pdv_cfg_Author = "FirstName LastName <email@site.com>"
let g:pdv_cfg_Copyright = strftime('%Y') . " Company Name"
let g:pdv_cfg_License = "MIT License {@link http://opensource.org/licenses/MIT}"
